  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{classModel.getClassName()}}</mat-card-title>
      <mat-card-subtitle>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <div *ngFor="let attribute of classModel.getAttributes()">
          <strong>-{{attribute}}</strong>
          <br/>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <mat-card-content>
      <div *ngFor="let method of classModel.getMethods()">
        <strong>+{{method}}</strong>
        <br/>
      </div>
    </mat-card-content>
  </mat-card>
