<h1 fxLayoutAlign="center">
  Welcome to the Typescript UML Visualizer 2000!
</h1>

<h4 fxLayoutAlign="center">
  Please input the file name that is in your assets folder and press "Parse file"
</h4>

<div fxLayoutAlign="center">
  <input matInput type="text" placeholder="File to parse" [(ngModel)]="fileName">
  <br/>
  <button mat-button (click)="updateVisualizer()">Parse file</button>
</div>

<br/>
<br/>

<div fxLayoutAlign="center">
  <app-uml-card *ngIf="classModel.getClassName().length > 0" [classModel]="classModel"></app-uml-card>
</div>
